<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" >
    <title>A propos - Les Bouff</title>
    <link href="style/style.css" rel="stylesheet" >
    <link href="style/a-propos.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <img class="logo-bouff-header" src="images/logo-bouff.png" alt="Logo Bouff">
            <div class="lien">
                <a class="accueil" href="Accueil.html">Accueil</a>
                <a class="jeux" href="jeux.html">Jeux</a>
                <a class="a-propos" href="a-propos.html">A propos</a>
            </div>
        </nav>
    </header>
    <main>
        <section>
            <h1>Les Bouff</h1>
            <div class="grid-presentation">
                <div class="grid-premiere-ligne">
                    <div class="photo-nom">
                        <a href="profil.html" class="lien-profil">
                            <img src="images/photo/TurnDessign.JPG" alt="photo TurnDesiign">
                            <div class="photo-hover">Voir le profil</div>
                        </a>
                        <p>TurnDesiign</p>
                    </div>
                    <div class="photo-nom">
                        <a href="profil.html" class="lien-profil">
                            <img src="images/photo/Tilouux.jpg" alt="photo Tilouux">
                            <div class="photo-hover">Voir le profil</div>
                        </a>
                        <p>Tilouux</p>
                    </div>
                    <div class="photo-nom">
                        <a href="profil.html" class="lien-profil">
                            <img src="images/photo/Lucascahuete.JPG" alt="photo Lucascahuete">
                            <div class="photo-hover">Voir le profil</div>
                        </a>
                        <p>Lucascahuete</p>
                    </div>
                    <div class="photo-nom">
                        <a href="profil.html" class="lien-profil">
                            <img src="images/photo/Hillere.JPG" alt="photo Hillere">
                            <div class="photo-hover">Voir le profil</div>
                        </a>
                        <p>Hillere</p>
                    </div>
                    <div class="photo-nom">
                        <a href="profil.html" class="lien-profil">
                            <img src="images/photo/Gamer59.JPG" alt="photo Gamer59">
                            <div class="photo-hover">Voir le profil</div>
                        </a>
                        <p>Gamer59</p>
                    </div>
                </div>
                <div class="grid-deuxieme-ligne">
                    <div class="photo-nom">
                        <a href="profil.html" class="lien-profil">
                            <img src="images/photo/Impitufo.jpg" alt="photo Impitufo">
                            <div class="photo-hover">Voir le profil</div>
                        </a>
                        <p>Impitufo</p>
                    </div>
                    <div class="photo-nom">
                        <a href="profil.html" class="lien-profil">
                            <img src="images/photo/CremeFraiche.JPG" alt="photo CremeFraiche">
                            <div class="photo-hover">Voir le profil</div>
                        </a>
                        <p>CremeFraiche</p>
                    </div>
                    <div class="photo-nom">
                        <a href="profil.html" class="lien-profil">
                            <img src="images/photo/Sara.JPG" alt="photo Sara">
                            <div class="photo-hover">Voir le profil</div>
                        </a>
                        <p>Sara</p>
                    </div>
                    <div class="photo-nom">
                        <a href="profil.html" class="lien-profil">
                            <img src="images/photo/Corupshort.JPG" alt="photo Corupshort">
                            <div class="photo-hover">Voir le profil</div>
                        </a>
                        <p>Corupshort</p>
                    </div>
                    <div class="photo-nom">
                        <a href="profil.html" class="lien-profil">
                            <img src="images/photo/Mercure.png" alt="photo Mercure">
                            <div class="photo-hover">Voir le profil</div>
                        </a>
                        <p>Mercure</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div>
            <a target="_blank" href="https://twitter.com/LesBouff_" class="logo-twitter">
                <img src="images/twitter-99.svg" alt="Twitter Logo" height="62px" width="80px">
            </a>
            <a target="_blank" href="https://www.tiktok.com/@lesbouff_" class="logo-tiktok">
                <img src="images/tiktok-logo-4502.svg" alt="Tiktok Logo" height="62px" width="54px">
            </a>
            <a target="_blank" href="https://www.twitch.tv/lesbouff_" class="logo-twitch">
                <img src="images/twitch-4768.svg" alt="Twitch Logo" height="62px" width="62px">
            </a>
        </div>
    </footer>
</body>

</html>